/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Flower War. Original game by Ice 9 Games. Designed and developed by Tug Brice. Designsbyice9@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * flowerwar.css
 *
 * flowerwar stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (flowerwar_flowerwar.tpl), and to HTML elements you create dynamically
    (in flowerwar.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
#fw-container {
    position: relative;
    background: rgb(218, 209, 209);
    border:3pt solid rgb(0, 0, 0);
    width: 800px;
    height: 800px;
    padding: 10px;
    margin: 10px;
}

.spaceRow {
    background: rgb(116, 114, 114);
    padding: 3px;
    border:3pt solid blue;
    height: 100px;
    width:625px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.spaceColumn {
    background: rgb(116, 114, 114);
    padding: 3px;
    border:3pt solid blue;
    height: 625px;
    width:100px;
    margin-top:auto;
    margin-bottom:auto;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
}

#topRow {
    position:absolute;
    top: 40px;
    left: 160px;
}

#bottomRow {
    position:absolute;
    bottom: 20px;
    left: 40px
}

#leftColumn {
    position:absolute;
    top:40px;
    left:40px;
}

#rightColumn {
    position:absolute;
    top:160px;
    right:20px;
}

.space {
    border:2px solid green;
    width:80%;
    height:80%;
    margin:3px;
    padding:5px;
    background: lightgray;
}

.spaceText {
    text-align: center;
    vertical-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.token {
    height:25px;
    width:25px;
    padding:2px;
    margin:2px;
    background-image: url("img/meeple-white.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.filter_008000 {
    background-blend-mode: multiply;
    background-color: #008000;
    mask: url("img/meeple-white.png");
    -webkit-mask: url("img/meeple-white.png");
    -webkit-mask-size: contain;
    mask-size: contain;
}

.filter_0000ff {
    background-blend-mode: multiply;
    background-color: #0000ff;
    mask: url("img/meeple-white.png");
    -webkit-mask: url("img/meeple-white.png");
    -webkit-mask-size: contain;
    mask-size: contain;
}

.filter_ff0000 {
    background-blend-mode: multiply;
    background-color: #ff0000;
    mask: url("img/meeple-white.png");
    -webkit-mask: url("img/meeple-white.png");
    -webkit-mask-size: contain;
    mask-size: contain;
}

.filter_ffa500 {
    background-blend-mode: multiply;
    background-color: #ffa500;
    mask: url("img/meeple-white.png");
    -webkit-mask: url("img/meeple-white.png");
    -webkit-mask-size: contain;
    mask-size: contain;
}

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




